

<div class="absolute bg-[url(/bluemountain.webp)] saturate-[1.25] blur-[2px] bg-cover h-screen w-screen -z-10"></div>

<div class="flex items-center justify-center h-screen ">

    <div class="bg-gray-500/90 p-6 rounded-lg shadow-lg text-center w80 ">
   
    
        </div>
        
</div>
