

<div class="absolute bg-[url(/bluemountain.webp)] saturate-[1.25] blur-[2px] bg-cover h-screen w-screen -z-10"></div>

<div class="flex items-center justify-center h-screen ">

    <div class="bg-gray-500/90 p-6 rounded-lg shadow-lg text-center w80 ">
   
        <img src="/profile.png" alt="Profile" class="w-54 h-54 rounded-full mx-auto mb-4" />
        <h1 class="text-gray-200 mb-4 text-4xl font-bold">Samson Hew</h1>
        <p class="text-gray-300 mb-4">Welcome to my portfolio</p>
        <div class="space-x-2 pb-4">
            <a href="/about">
            <button class="px-4 py-2 bg-nordblue text-white rounded hover:bg-gray-400 cursor-pointer transition duration-300">About</button>
                    </a>
            <button class="px-4 py-2 bg-nordblue text-white rounded">Projects</button>

        </div>

        <div class="flex justify-center space-x-4 mt6">
            <a href="https://x.com/HunchPan" target="_blank" rel="noopener">
                <img src="twitter.svg" class="w-7 h-7 text-nordblue hover:text-white invert" />
            </a>

            <a href="https://www.linkedin.com/in/hew-wee-bo-56058017a/" target="_blank" rel="noopener">
                <img src="linkedin.svg" class="w-7 h-7 text-nordblue hover:text-white invert" />
            </a>

            <a href="https://www.instagram.com/sames_727/" target="_blank" rel="noopener">
                <img src="instagram.svg" class="w-7 h-7 text-nordblue hover:text-white invert" />
            </a>
        </div>

        </div>
        

</div>
